html {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    margin: 0;
    background: rgb(17, 17, 17);
    font-family: Arial, Helvetica, sans-serif;
    color: #eee;
    display: flex;
    flex-direction: column;
}


a {
    text-decoration: none;
    color:rgb(52, 193, 218);
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

h1 {
    color:rgb(52, 193, 218);
}

.content {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    background: rgb(10, 10, 10);
    box-shadow: 0 0 8px rgba(0,0,0,.1);
    padding: 15px 25px;
    font-size: 20px;
    font-weight: 600;
}

.left-header, .right-header {
    display: flex;
    align-items: center;
    gap: 15px;
}

.introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    flex-wrap: wrap;
}

.introduction-inner {
    display: flex;
    align-items: center;
    max-width: 800px;
    gap: 45px;
    
}

.introduction p {
    font-size: 22px;
}

.Projects {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.project-items {
    display: flex;
    flex-direction: column;
    gap: 50px;
    flex-wrap: wrap;
    margin: 15px 150px;
    justify-content: center;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.08);
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
    border-radius: 10px;
    box-sizing: border-box;
    height: 320px;
    width: 270px;
    cursor: pointer;
    position: relative;
    background-color: rgba(15, 15, 15, 1);
    transition: transform .5s ease-in-out;
    padding: 25px;
    color: #eee;
}

.item p {
    font-size: 15px;
}

.item:hover {
    transform: scale(1.08);
    box-shadow: 0 0 5px rgb(212, 238, 247);
}
.item:hover::before {
    opacity: 1;
}

.item::before {
    background: radial-gradient(
        800px circle at var(--mouse-x) var(--mouse-y),
        rgba(123, 237, 255, 0.08),
        transparent 40%
    );
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    transition: opacity 500 ms;
    width: 100%;
    z-index: 2;

}


.footer {
    display: flex;
    background: rgb(10, 10, 10);
    padding: 20px 30px;
    justify-content: space-between;
}

.clicked, .clicked:hover {
    box-shadow: inset 0px 0px 8px rgb(56, 243, 250);
    box-shadow: 0px 0px 8px rgb(56, 243, 250);
    transform: scale(1.09);
}

/*images pop ups*/
.item {
    z-index: 1;
}
.item img {
    max-width: 300px;
    max-height: 400px;
    position: absolute;
    opacity: 0;
    transition: all .5s ease;
    z-index: -1;

}

.clicked img {
    position: absolute;
    opacity: 1;
    transition: all .75s ease-out;
}

.clicked .img1 {
    translate: 200px -170px;
}

.clicked .img2 {
    translate: -220px -140px;
}

.clicked .img3 {
    translate: -280px 140px;
}

.clicked .img4 {
    translate: 200px 200px;
}

